@font-face{
    src: url(../fonts/Product-Sans-Regular.ttf);
    font-family: "Product-Sans-Regular";
}
@font-face{
    src: url(../fonts/Montserrat-Regular.ttf);
    font-family:"Montserrat-Regular";
}
@font-face{
    src: url(../fonts/Montserrat-Bold.ttf);
    font-family: "Montserrat-Bold";
}