@import 'fonts.css';
/* ROOT start */
:root {
    --f400: "Montserrat-Regular";
    --f700: "Montserrat-Bold";
    --ps400: "Product-Sans-Regular";
    --yellow: #FFCC00;
    --yellow_dark: #E2AA00;
    --dark: #232424;
    --black: #171A1A;
    --black_sec: #181A1A;
    --white: #fff;
    --linear: linear-gradient(133deg, var(--white), var(--yellow))
}

body {
    font-family: var(--f400);
    background: var(--dark);
}

a:hover {
    text-decoration: none;
}

.logo {
    font-family: var(--ps400);
    font-size: 26px;
    line-height: 19px;
    color: var(--white);
    border: 1px solid transparent;
    border-image: 1 var(--linear);
    padding: 6px 18px;
}

.logo:hover,
.logo-text {
    color: var(--yellow);
}

.article__title {
    text-transform: uppercase;
    font-size: 28px;
    color: var(--yellow_dark);
    line-height: 22px;
    margin-top: 70px;
    margin-bottom: 40px;
    font-family: var(--ps400);
}

.article__title::before,
.article__title::after {
    content: "";
    display: block;
    width: 52px;
    height: 2px;
    background-color: var(--white);
    margin: 0 0 8px auto;
}

.article__title::after {
    margin: 8px 0 0 0;
}
.article__text{
    color: var(--white);
    font-size: 18;
    margin-bottom: 57px;
    line-height: 24px;
    text-align: justify;
}
/* ROOT end */
/* HEADER start */
.nav {
    padding: 23px 0;
}

.header__nav {
    background: var(--black);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header__nav-link {
    color: var(--white);
    font-family: var(--ps400);
    font-size: 20px;
    line-height: 15px;
    text-transform: uppercase;
    margin-left: 55px;
}

.header__nav-link:hover {
    color: var(--yellow);
}

.header__info {
    background: url(../images/header_img_bg.jpg)no-repeat center /cover;
    background-attachment: fixed;
    color: var(--white);
    font-family: var(--ps400);
}

.header__info-title {
    font-size: 60px;
    line-height: 58px;
    text-transform: uppercase;
    margin-bottom: 49px;

}

.header__info-text {
    font-size: 22px;
    line-height: 27px;
}

/* HEADER end */
/* MAIN start */
.main__slider{
    background-color: var(--black_sec);
    padding: 0 15px;
}
.main__slider-img img{
    object-fit: cover;
    border-radius: 6px;
}
.main__slider-title{
    font-family: var(--f700);
    color: var(--white);
    line-height: 17px;
    font-size: 24px;
    text-transform: uppercase;
    margin: 15px 0 20px;
}
.main__slider-title span{
    color: var(--yellow_dark);
}
.main__slider-text{
    font-size: 18px;
    color: var(--white);
    line-height: 24px;
    text-align: justify;
}
.main__slider-icon{
    font-size: 40px;
}
.main__slider-icon::before{
    color: var(--yellow);
}
.main__slider-icon::after{
    color: #a5a6a6;
}
.main__tabs-link{
    display: block;
    color: var(--black_sec);
    text-transform: uppercase;
    line-height: 12px;
    background-color: var(--white);
    padding: 14px 29px 12px 29px;
    border-radius: 19px;
    width:max-content;
    margin-top: 20px;
    transition: 0.5s;
}
.main__tabs-link.active{
    color: white;
    background-color: var(--black_sec);
}
.main__tabs-link:not(.active):hover{
    background: var(--yellow);
    color: var(--black_sec);
}
.main-tabs-container{
    margin-bottom: 27px;
}
.main-tabs-img{
    object-fit: cover;
    border-radius: 6px;
}
.main__tabs-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 21px 14px 19px 22px;
    background: var(--black_sec);
    border-radius: 6px;
}
.main__tabs-title{
    color: var(--yellow_dark);
    font-size: 24px;
    font-family: var(--ps400);
    line-height: 18px;
}
.main__tabs-description{
    text-align: justify;
    color: var(--white);
    line-height: 24px;
    margin-top: 15px;
}
.main__tabs-btn{
    display: block;
    padding: 15px 29px 14px 31px;
    background-color: var(--yellow);
    width: max-content;
    font-family: var(--f700);
    border-radius: 21px;
    color: var(--white);
    text-transform: uppercase;
    line-height: 15px;
}
.main__tabs-btn:hover{
    background: var(--white);
    color: var(--black_sec);
   
}
.main__accordion-button{
    background: var(--black_sec);
    border: none;
    padding: 17px 0 18px 15px;
    font-size: 20px;
    font-family: var(--f700);
    text-transform: uppercase;
    color: var(--white);
    transition: 0.5s;
}
.main__accordion-button:not(.collapsed){
    background-color: var(--yellow_dark);
    color: var(--black);
}
.main__accordion-button:focus{
    outline: none;
}

.main__accordion-icon{
    font-size: 28px;
    margin-right: 10px;
    line-height: 26px;
}
.main__accordion-body{
    padding: 18px 16px 19px 14px;
    border: 1px solid var(--yellow_dark);
}.main__accordion-description{
    font-size: 19px;
    line-height: 24px;
    text-align: justify;
}
.main__accordion-item{
    margin-bottom: 16px;
}
.main__accordion-item:last-of-type{
    margin-bottom: 30px;
}
/* MAIN end */
/* FOOTER start */
.footer{
    background: var(--black_sec);
    padding: 20px 0;
}
.footer__menu-link{
    display: block;
    font-family: var(--ps400);
    color: var(--white);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 15px;
    margin: 45px 28px;
}
.footer__contact-link{
    color: white;
    font-size: 20px;
    line-height: 20px;
    font-family: var(--ps400);
    margin: 0 15px;
}
.footer__menu-link:hover,
.footer__contact-link:hover{
    color: var(--yellow);
}
/* FOOTER end */
/* MEDIA start */
@media(max-width:767px) {
    .header__nav-link {
        margin-left: auto;
    }

    .nav__list {
        text-align: right;
        margin-top: 7px;
    }

    .header__info-title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 85px;
    }
    .main__tabs-info{
        margin-top: -30px;
    }
}

@media(max-width:525px) {
    .header__info-text {
        text-align: center !important;
        font-size: 17px;
    }
}


/* MEDIA end */